GREP /bin/grep
GMAKE make
TAR /bin/tar
RANLIB /usr/bin/ranlib
CPPL icpc -C -E -traditional -m64 -xavx -mtune=core-avx2 -mkl -O2 -no-prec-div -fp-model fast=2
BLASLIBRARY   -Wl,--start-group ${MKLROOT}/lib/intel64/libmkl_intel_ilp64.a ${MKLROOT}/lib/intel64/libmkl_core.a ${MKLROOT}/lib/intel64/libmkl_sequential.a ${MKLROOT}/lib/intel64/libmkl_scalapack_ilp64.a ${MKLROOT}/lib/intel64/libmkl_blacs_intelmpi_ilp64.a -Wl,--end-group -lpthread -lm -ldl -lrt
LAPACKLIBRARY -Wl,--start-group ${MKLROOT}/lib/intel64/libmkl_intel_ilp64.a ${MKLROOT}/lib/intel64/libmkl_core.a ${MKLROOT}/lib/intel64/libmkl_sequential.a ${MKLROOT}/lib/intel64/libmkl_scalapack_ilp64.a ${MKLROOT}/lib/intel64/libmkl_blacs_intelmpi_ilp64.a -Wl,--end-group -lpthread -lm -ldl -lrt
MACHINEID linux64.ifc.byterecl
GUNZIP /bin/gunzip
GACOMMUNICATION MPI
MPI_MAINDIR /home/yshen/Software/Programming/openmpi-3.1.4/intel
MPI_CC mpicc -m64 -xavx -mtune=core-avx2 -mkl -O2 -no-prec-div -fp-model fast=2
MPI_LD mpifort -m64 -xavx -mtune=core-avx2 -mkl -O2 -no-prec-div -fp-model fast=2 -z muldefs
MPI_FC mpifort -m64 -xavx -mtune=core-avx2 -mkl -O2 -no-prec-div -fp-model fast=2 -z muldefs
PSCRIPT  
GAVERSION GA53
MPI_LIBS /home/yshen/Software/Programming/openmpi-3.1.4/intel/lib/libmpi.so
MPI_STARTUP mpirun -np _NPROC_  _EXE_ _EXEOPTS_
COLUMBUS /home/yshen/Software/Chemistry/Columbus-7.0/Columbus
DALTON /home/yshen/Software/Chemistry/Columbus-7.0/Columbus/source/dalton
COLUMBUSVERSION 7.0
INSTALLOPTION NOGA_INSTALL
