GREP /bin/grep
GMAKE gmake
TAR /bin/tar
RANLIB /usr/bin/ranlib
CPPL icpc -C -E -traditional
BLASLIBRARY   -Wl,--start-group ${MKLROOT}/lib/intel64/libmkl_intel_ilp64.a ${MKLROOT}/lib/intel64/libmkl_core.a ${MKLROOT}/lib/intel64/libmkl_sequential.a ${MKLROOT}/lib/intel64/libmkl_scalapack_ilp64.a ${MKLROOT}/lib/intel64/libmkl_blacs_intelmpi_ilp64.a -Wl,--end-group -lpthread -lm -ldl -lrt
LAPACKLIBRARY -Wl,--start-group ${MKLROOT}/lib/intel64/libmkl_intel_ilp64.a ${MKLROOT}/lib/intel64/libmkl_core.a ${MKLROOT}/lib/intel64/libmkl_sequential.a ${MKLROOT}/lib/intel64/libmkl_scalapack_ilp64.a ${MKLROOT}/lib/intel64/libmkl_blacs_intelmpi_ilp64.a -Wl,--end-group -lpthread -lm -ldl -lrt
MACHINEID linux64.ifc.byterecl
GUNZIP /bin/gunzip
GACOMMUNICATION MPI
MPI_MAINDIR /software/apps/mpi/openmpi/3.1/intel/18.0
MPI_CC /software/apps/mpi/openmpi/3.1/intel/18.0/bin/mpicc
MPI_LD /software/apps/mpi/openmpi/3.1/intel/18.0/bin/mpif90 -z muldefs
MPI_FC /software/apps/mpi/openmpi/3.1/intel/18.0/bin/mpif90 -z muldefs
PSCRIPT  
GAVERSION GA53
MPI_LIBS /software/apps/mpi/openmpi/3.1/intel/18.0/lib/libmpi.so
MPI_STARTUP /software/apps/mpi/openmpi/3.1/intel/18.0/bin/mpirun -np _NPROC_  _EXE_ _EXEOPTS_
COLUMBUS /data/dyarkon1/yshen/Software/Columbus-7.0/Columbus
DALTON /data/dyarkon1/yshen/Software/Columbus-7.0/Columbus/source/dalton
COLUMBUSVERSION 7.0
INSTALLOPTION NOGA_INSTALL
